/* es 1*/
.ex-1-square{
 transition: 3s;
}
.ex-1-square:hover{
  background-color: red;
}
/* es 1*/

/* es 2*/
.ex-2-square{
  transition: 1s;
}
.ex-2-square:active{
  width: 100%;
}
/* es 2*/

/* es 3*/
.ex-3-square{
  transition: 1s;
}
.ex-3-square:hover{
  border-radius: 50%;
}
/* es 3*/

/* es 4*/
.ex-4-square{
  transition: 2s;
}
.ex-4-square:hover{
  opacity: 0;
}
/* es 4*/

/* es 5*/
.ex-5-square{
  transition: 1s;
}
.ex-5-square:hover{
  transform: scale(1.5);
}
.ex-5-square:active{
  transform: scale(0.5);
}
/* es 5*/

/* es 6*/
.ex-6-img:hover{
  filter: grayscale(1);
}
/* es 6*/

/* es 7*/
.ex-7-img{
  transition: 2s;
}
.ex-7-img:hover{
  filter: grayscale(1) sepia(0.5);
}
/* es 7*/

/* es 8*/
.ex-8-img{
  transition: 2s;
}
.ex-8-img:hover{
  filter: grayscale(0.5) sepia(0.5);
  border-radius: 30px;
}
/* es 8*/

/* es 9*/
.ex-9-img{
  transition: 2s;
}
.ex-9-img:hover{
  transform: scale(1.5);
  filter: grayscale(0.5) sepia(0.5);
  border-radius: 30px;
}
/* es 9*/

/* es 10*/
.ex-10-icon{
  animation: gira 1s infinite linear;
}
@keyframes gira{
0% {
  transform: rotate(0);
}
100% {
  transform: rotate(1turn);
}
}
/* es 10*/

/* es 11*/
.ex-11-icon:hover{
    animation: giratre 2s linear;
}
@keyframes giratre{
0% {
  transform: rotate(0);
}
30% {
  transform: rotate(90deg);
}
60% {
  transform: rotate(180deg);
}
90% {
  transform: rotate(270deg);
}
100% {
  transform: rotate(0);
}
}
/* es 11*/
